.gallery {
    margin: 2rem 0;
}

.gallery ul {
    display: flex;
    flex-direction: row;
}

.gallery ul li:nth-child(2) {
    margin: 0 25px;
}

.gallery ul li a img {
    border: solid 4px white;
    border-radius: 15px;
}