@import url(../assets/css/global.css);
@import url(../assets/css/reset.css);
@import url(../assets/css/navigator.css);
@import url(../assets/css/pills.css);
@import url(../assets/css/link-button.css);
@import url(../assets/css/gallery.css);

/* Main Content */
body {
    overflow-x: hidden;
}

.s-wrapper {
    display: flex;
    width: 100vw;
}

.s-wrapper video {
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(../assets/images/spiderman-homepage/spider-man-background\ 1.jpg);
    background-position: no-repeat;
    background-size: cover;
}


.s-wrapper .s-main-content .s-main-content__container {
    position: relative;
    left: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 72vw;
}

.s-wrapper .s-main-content__info-container {
    max-width: 60vw;
}

.s-wrapper .s-main-content .s-logo img {
    margin: 1rem auto;
    max-width: 120%;
}

.s-wrapper .s-main-content__info-container .s-description {
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.s-wrapper .s-main-content__container .s-description .s-description__text p {
    text-align: justify;
    color: white;
    line-height: 170%;
}

@media (max-width: 1200px) {
.s-wrapper .s-main-content__container, .s-wrapper .s-main-content__info-container {
    max-width: 80vw;
}

.s-wrapper .s-main-content__info-container,.s-wrapper .s-main-content .s-logo img {
    width: 80vw;
}
}

@media (max-width: 600px) {
    .s-wrapper .s-main-content .s-main-content__container {
    left: 3.5rem;
    width: 100vw;
}

.s-wrapper .s-main-content__info-container .s-description {
    padding: 8px;
    width: 80vw;
}
}

@media (max-width: 400px) {
body {
    overflow-x: hidden;
}

.s-wrapper .s-main-content__info-container,.s-wrapper .s-main-content .s-logo img {
    width: 70vw;
}

.s-wrapper .s-main-content__info-container .s-description {
    padding: 5px;
    width: 95%;
}
}