.pills {
    margin-bottom: 20px;
}

.pills ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.pills ul li {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 5px 8px;
}

@media (max-width: 600px) {
.pills ul li {
    padding: 3px 10px;
    border-radius: 20px;
    margin: 8px;
}
}